#bg1{
  height: 200vh;
  width: 100%;
  background: 
    url('../../resources/images/pen-box.png') no-repeat -45% 46%,
    url('../../resources/images/phone.png') no-repeat 17% 10%,
    url('../../resources/images/ufaber-bg.jpg') no-repeat top;
  background-size: 550px, auto 520px, 100vw 100vh;
}
#bg2{
  height: 200vh;
  width: 100%;
  background: 
    url('../../resources/images/headphone.png') no-repeat 100% 44%,
    url('../../resources/images/ufaber-bg.jpg') no-repeat top;
  background-size: 300px, 100vw 100vh;
}